body{
margin:0;
font-family:Segoe UI;
background:#1e1e1e;
color:white;
text-align:center;
}

header{
background:#111;
padding:15px;
font-size:18px;
letter-spacing:1px;
}

.toolbar{
background:#2b2b2b;
padding:10px;
display:flex;
justify-content:center;
gap:10px;
}

button{
background:#3a3a3a;
color:white;
border:none;
padding:8px 14px;
border-radius:6px;
cursor:pointer;
font-size:14px;
transition:0.2s;
}

button:hover{
background:#5a5a5a;
}

.workspace{
display:flex;
justify-content:center;
margin-top:20px;
}

canvas{
background:white;
border-radius:8px;
box-shadow:0 5px 20px rgba(0,0,0,0.4);
cursor:crosshair;
}

.frames{
margin-top:15px;
}
.timeline{
margin-top:15px;
padding:10px;
background:#2b2b2b;
display:flex;
justify-content:center;
align-items:center;
gap:10px;
flex-wrap:wrap;
}

#frameContainer button{
background:#444;
padding:6px 10px;
}

#addFrame{
background:#007acc;
}